@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "GFS Didot", serif;
}

/* INDEX.HTML*/

.bg-index {
    background-image: url('bg_index.png');
    background-repeat: repeat;
    width: 180px; /* Definindo a largura do corpo como 300 pixels */
    margin: 0 auto; /* Centralizando horizontalmente */
    padding: 10px; /* Adicionando um espaço de preenchimento para melhorar a aparência */
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
}

#texto {
    background: rgba(255, 255, 255, 0.3);
    width: 100%; /* Definindo a largura da caixa de texto como 90% do contêiner */
    height: 90%; /* Definindo a altura da caixa de texto como 90% do contêiner */
    padding: 0px; /* Adicionando um preenchimento interno para espaçamento */
    box-sizing: border-box; /* Fazendo com que o preenchimento não afete o tamanho total da caixa de texto */
}

#btnOpt {
    float: right;
}
/*PARTE DOS TABS*/

.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    background-color: rgba(0,100,0,0.2);
    padding: 5px 10px;
    cursor: pointer;
    color: rgba(59, 255, 20, 0.3);
}

.active-tab {
    background-color: rgba(0,128,0,0.7); /* Cor de fundo da aba ativa */
    color: black;
}

.active-content {
    display: block;
}


/* OPTIONS.HTML */

.bg-options {
    background-image: url('bg_option.png');
    background-repeat: repeat;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {                            
    border: 3px solid #CD7F32;
    border-style: outset;
    padding: 10px;
    width: 20em;
    background: rgba(222,184,135,0.9);
    text-align:left;
  }

  .item {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    margin-bottom: 1em;
  }